<html>
<head>
    <title>Pig Latin</title>
</head>
<body>
	<h1>Pig Latin</h1>
	<h2>Let them eat pig latin!</h2>
	
	<form method="POST" action="/piglatinize/">
                <textarea name="input_text"></textarea>
		<input type="submit" value="Submit">
	</form>

</body>
</html>